{% extends "layout.njk" %} {% block content %}

<div
  class="img-responsive"
  style="background-image: url('./assets/images/logopleinecran.jpeg'); height: 100vh; width: 100wh; object-fit: cover"
>
  <div class="wrapper">
    <header class="main-head">
      <div class="card">
        <div class="card-body">Bienvenue sur mon incroyable site de liste de jeux et de plateformes!!!!!!.</div>
      </div>
    </header>

    <article class="content">
      <h1>Que faire sur ce site ?</h1>
      <p>
        Grâce à se site internet vous pourrez naviguer vers une liste de jeux ou vers une liste de plateformes. vous
        pourrez ainsi voir tous les jeux disponibles pour une plateforme selectionné ou alors voir le résumé d'un jeux
        en particulier.
      </p>
      <p>
        C'est tout pour le moment<br />N'hesitez pas a m'envoyer un mail ou un texto pour plus d'informations. En
        attendant bonne visite et à bientôt.
      </p>
    </article>
    <aside class="side">
      <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
          <p>
            <a href="mailto:romuald.lecorroller@gmail.com" target="_blank" class="btn btn-primary">Email Me</a>
          </p>
          <p>
            <a href="sms:+33711223344" target="_blank" class="btn btn-primary">Send SMS</a>
          </p>
        </div>
      </nav>
    </aside>
    <div class="ad">
      <p>Publicité</p>
      <div class="img"><img src="./assets/images/pub.jpeg" alt="..." class="img-thumbnail" /></div>
    </div>
  </div>
</div>
{% endblock %}
