{% extends "layout.njk" %}

{% block content %}
 <h1> Voir les infos du jeu selectionné !! </h1>
 <ul>
    <li>
       <img src="{{game.cover_url}}"> {{game.name}}
    </li>
</ul>
<p>{{game.summary}}</p>
{% endblock %}