<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GD : platforms</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png"/>
  </head>
  <body>
    <div class="collant" >
      <p>
        <ul>
          <li><a href="/games">Games</a></li>
          <li><a href="/platforms">Platforms</a></li>
        </ul>
        <a href="/"> Back to home</a>
      </p>
  </div>
    {% block content %}{% endblock %}
  </body>
</html>