{% extends "layout.njk" %} {% block content %}
<h1>liste de platformes</h1>
<ul>
  {% for platform in platforms %}
  <li>
    <img src="{{ platform.cover }}" /><a href="/platforms/{{ platform.slug }}"> {{ platform.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
