<h1>Home</h1>

<p><a href="/games">Games</a></p>

<p>
  <form action="/search" method="get">
  <div>
    <input type="search" id="maRecherche" name="q">
    <button>Rechercher</button>
  </div>
</form>
</p>